################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SmartNamePlate.PCCompanion/bin/Debug
/SmartNamePlate.PCCompanion/obj
/SmartNamePlate.Web/bin
/SmartNamePlate.Web/obj
/SmartNamePlate.Web/Properties
