@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
        <div style="height: 60%">&nbsp;</div>
        <div style="height: 40%;">
            <div style="display: flex; flex-direction: row; width: 100%; height: 100%; justify-content: center">
                <div style="width: 70%; height: 70%; display: flex; flex-direction: column; justify-content: center; background-color: white; opacity: 0.75;
                    border-radius: 25px;">
                    <span style="font-family: Blackjack; font-weight: bold; font-size: x-large; color: black">Vasant Balasubramanian</span>
                    <div id="divstatus">
                        <img id="imgstatus" style="width: 30px; height: 30px; align-self: center; opacity: 1" src="./images/status_away.png" /><span id="txtStatus" style="margin-left: 0.5em; font-weight: bold">Away</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/main.js"></script>